body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
    text-align: center;
    color: #333;
  }

  h4 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-top: 20px;
  }

  h4:last-of-type {
    margin-bottom: 20px;
  }

  

  #container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }